* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
.small-contianer {
  max-width: 1080px;
  padding: 0 20px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-3 {
  flex-basis: 30%;
  max-width: 250px;
  margin-bottom: 20px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-5 {
  width: 160px;
}
.fa-quote-left {
  font-size: 35px;
  color: #ff523b;
}

.main-header {
  background: radial-gradient(#fff, #ffd6d6);
}
.title {
  position: relative;
  margin: 0 auto 50px;
  text-align: center;
  line-height: 60px;
}
.title::after {
  content: "";
  position: absolute;
  background-color: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.riating i {
  color: #ff523b;
  margin-right: 5px;
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .col-5 {
    flex-basis: 50%;
  }
}
